<!-- Footer Component -->
<footer class="footer">
    <div class="footer__inner">
        <div class="footer__info">
            <div class="footer__logo">
                <img src="/assets/images/ogp.jpg" alt="株式会社Awake" width="180" height="180">
            </div>
            <p class="footer__address">
                〒207-0013<br>
                東京都東大和市向原5-1129-61 渡辺ビル1F<br>
                TEL: 050-7115-4948<br>
                Email: shop@awakeinc.co.jp<br>
                代表取締役: 田形 康貴 (Yasutaka Tagata)
            </p>
            <div class="footer__links">
                <ul>
                    <li><a href="/legal/privacy-policy/">プライバシーポリシー</a></li>
                    <li><a href="/legal/terms/">利用規約</a></li>
                </ul>
            </div>
        </div>
        <p class="footer__copyright">&copy; 2024 Awake Inc. All rights reserved.</p>
    </div>
</footer> 